:root {
  --blue: #5d34ff;
  --Bgwhite: #ffffff;
  --colorWhite: #ffffff;
  --colorDark: #000000;
  --size16: 16px;
  --size18: 18px;
  --size24: 24px;
  --fontGray: #aaaaaa;
  --searchBorder: #dddddd;
  --modalTextBlue: #2a1971;
  --menuButton: #674ecc;
  --colorGray: #999999;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap");

/*====================== Home ==========================*/
@import url("./components/Home/Home.css");

/*====================== Navbar ==========================*/
/* @import url("./reusableStyles/Dropdown.css");

/*====================== Navbar ==========================*/
/* @import url("./components/ArtistProfile/ArtistProfile.css"); */
/*====================== Navbar ==========================*/

/*====================== Navbar ==========================*/
/* @import url("./components/Explore/AllNfts.css"); */

/*====================== Navbar ==========================*/
/* @import url("./components/CardDetails/CardDetails.css"); */

.App {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Raleway", sans-serif;
  background: var(--Bgwhite);
  max-width: 1440px;
  font-size: var(--size16);
}
/* MEdia queries */

/* ======================== For medium screen =================================*/

@media only screen and (max-width: 768px) {
  .App {
    background: var(--Bgwhite);
  }
}

/* ======================== For tablet screen =================================*/

@media only screen and (max-width: 992px) {
  .App {
    background: var(--Bgwhite);
  }
}

/* ======================== For mobile screen =================================*/
@media only screen and (max-width: 600px) {
  .App {
    background: var(--Bgwhite);
  }
}
